* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url(../assets/images/background.jpg) #325837 no-repeat bottom
    center;
}

section {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 50px;
}

canvas {
  background-color: #e3e3e3;
}
